html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding:0;margin:0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
  padding:0;margin:0;
}

header {background:#333;padding: 10px;}
header #logo {float:left;}
header h1 {margin:0;color:#fff;}
header ul { float:left;}
header ul li {
  list-style:none;
  float:left;
  margin-right:10px;
}
header ul li a {
  background:#fe2e9a;
  padding:8px;
  color:#fff;
  font-weight:bold;
  text-decoration:none;
  border-radius:4px;
}
header ul li a.selected {
  background:#fff;
  color:#fe2e9a
}
.container {
  width:960px;
  margin:0 auto;
}

#page {
  padding-top:10px;
}

/* clear fix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
